<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{72,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{72,72}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>load_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{72,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{72,72}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>load_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{72,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{72,72}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>load_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{74,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{74,72}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>load_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>load_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>load_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>load_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>load_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>load_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>load_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>load_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>waitting.png</string>
            <key>size</key>
            <string>{78,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40f1b6f2e0848bbf9d34da440bb6985a:1/1$</string>
            <key>textureFileName</key>
            <string>waitting.png</string>
        </dict>
    </dict>
</plist>
